@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Google Sans', sans-serif;
}
header {
    background-image: linear-gradient(to right, blue, rgb(39, 39, 250), rgb(100, 100, 253), rgb(149, 149, 247), rgb(175, 175, 248));
    color: white;
    border: 1px solid black;
    text-align: center;
    padding: 5px 0px;
}
header p {
    font-style:normal;
}
header a {
    text-decoration: none;
    color: blue;
}
header a:hover {
    text-decoration: underline;
}
body {
    background-color: blue;
}
main {
    border: 1px solid black;
    margin: 0em 1em;
    background-color: white;
}
p {
    color: blue;
    font-weight: bold;
    font-style: italic;
    margin: 16px 0px;
    text-align: center;
}
section#flor {
    background-image: url(../imagens/flor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
section#rabisco {
    background-image: url(../imagens/rabisco.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
section#tecnologia {
    background-image: url(../imagens/tecnologia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
footer {
    padding: 1em 0em;
    background-color: rgb(129, 129, 255);
    color: rgba(0, 0, 0, 0.527);
}
#p-footer p{
    color: rgba(0, 0, 0, 0.527);
    font-style: normal;
}
#p-footer a {
    color: rgba(0, 0, 0, 0.527);
    text-decoration: none;
}
#p-footer a:hover {
    color: rgba(0, 0, 0, 0.589);
}
#logo-footer {
    display: flex;
    justify-content: center;
}
#logo-footer img{
    border-radius: 50%;
    height: 3em;
}

